.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.magic-tex {
  animation: background-pan 4s linear infinite;
  background: linear-gradient(to right, var(--b1), var(--b2), var(--b4), var(--b1));
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.shadow-card {
  --tw-shadow: 0px 35px 120px -15px #211e35;
  --tw-shadow-colored: 0px 35px 120px -15px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.bg-tertiary {
  --tw-bg-opacity: 1;
  background-color: rgb(21 16 48 / var(--tw-bg-opacity));
}